<h1 class="text-center">Cell Signals</h1>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="btn btn-primary">
                <%= link_to 'Contribute Signal Report', new_speed_report_path, :class => "btn" %> |
                <%= link_to 'Research Park Signal Reports', speed_reports_path, :class => "btn"%>
            </div>
        </div>
    </div>
</div>
